/* General settings */
body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
}

ul
{
    list-style: none;
}

.bold
{
    font-weight: bold;
}

.blue
{
    color: #2978fd;
}

.grey
{
    color: lightgrey;
}

a
{
    text-decoration: none;
}

.black
{
    color: black;
}

/* Header */
.header
{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.logo img
{
    width: 100px;
    padding: 20px 0px 0px 0px;
}

nav
{
    display: flex;
    padding: 40px 0px 0px 0px;
}

nav a
{
    padding: 38px 30px 0px 30px;
    text-decoration: none;
    color: black;
    margin-right: 0px;
}

.sign
{
    order: 1;
}

a.blue
{
    color: #2978fd;
}

a.bold
{
    font-weight: bold;
}

a.select
{
    border-top: #2978fd 3px solid;
}

nav a:hover
{
    border-top: #2978fd 3px solid;
    transition: 0.1s;
    color: #2978fd;
}

/* Main */
.main
{
    max-width: 1440px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
}

/* Title of search */
.title h1
{
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0.5px;
}

/* Search Bar */
.search-bar
{
    display: flex;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-radius: 15px 15px 15px 15px;
    width: 421px;
}

.location
{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px 14px 14px 14px;
}

.search-bar input
{
    border: none;
    padding: 12px 12px 12px 12px;
    margin-top: 1px;
    width: 230px;
    font-weight: bold;
    height: 23px;
}

.search-bar button
{
    background-color: #2978fd;
    border: none;
    padding: 11px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    width: 121px;
    height: 55px;
    font-weight: bold;
}

.search-bar button span
{
    margin-top: -1px;
    padding-top: 10px;
}

.search-bar button i
{
    display: none;
}

.search-bar button:hover
{
    background-color: black;
    transition: 0.1s;
    cursor: pointer;
}

/* Filters */

.filters
{
    margin-top: 10px;
    display: flex;
}

.filters ul
{
    display: flex;
}

.filters ul li
{
    display: flex;
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    border-right: lightgray 1px solid;
    border-radius: 30px;
    margin-right: 10px;
    width: auto;
}

.filters i
{
    background-color: #deebff;
    padding: 16px 10px 10px 10px;
    border-radius: 30px;
    color: #2978fd;
    width: 30px;
    text-align: center;
}

.filters h4
{
    padding: 0px 10px 0px 10px;
    font-size: 13px;
}

.filters h3
{
    padding-top: 8px;
    font-size: 20px;
}

.filters ul li:hover
{
    background-color: #2978fd;
    color: white;
    transition: 0.1s;
    cursor: pointer;
}

/* Little notification of the host number in the city */

.host-num i
{
    color: #2978fd;
    border: lightgray 1px solid;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    width: 12px;
    text-align: center;
    margin-right: 7px;
}

/* Hosts - main list */

.host
{
    display: flex;
    justify-content: space-between;
}

.host-thumbnail
{
    width: 250px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.host-main
{
    padding-left: 30px;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 900px;
    padding-bottom: 30px;
}

.hosts-list-main
{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.hosts-list-main article
{
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px 30px 30px 0px;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
}

.hosts-list-main article h4
{
    margin-bottom: 0;
    margin-top: 0;
}

.hosts-list-main article p
{
    margin-bottom: 5px;
    margin-top: 5px;
}

.hosts-list-main article:hover
{
    background-color: #F2F2F2;
    transition: 0.1s;
    cursor: pointer;
}

/* Hosts - Pop List */

.popular-host
{
    padding-left: 30px;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-right: 30px;
}

.pop-host-title
{
    display: flex;
    justify-content: space-between;
}

.pop-host-title i
{
    padding-top: 15px;
}

.pop-host-thumbnail
{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    padding: 7px 10px 7px 7px;
}

.host-list-popular-child
{
    display: flex;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 20px 20px 20px 20px;
    margin: 0px 0px 30px 0px;
    padding-right: 10px;
}

.pop-host-description h3
{
    margin-top: 0;
    padding-top: 7px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pop-host-description p
{
    margin-top: 0;
    padding-top: 5px;
}

.pop-host-description
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.host-rating
{
    padding-bottom: 10px;
}

.host-list-popular-child:hover
{
    background-color: #F2F2F2;
    transition: 0.1s;
    cursor: pointer;
}

.activities
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.activity-list
{
    display: flex;
}

.big-act-thumbnail
{
    width: 330px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.big-act
{
    height: 520px;
}

.activities h4
{
    margin-left: 10px;
}

.middle-act
{
    height: 270px;
}

.little-act
{
    height: 210px;
}

.middle-act-thumbnail
{
    width: 330px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.little-act-thumbnail
{
    width: 330px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activity-list article
{
    margin-right: 40px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 16px #0000002e;
}

.split-act
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-list article:hover
{
    background-color: #F2F2F2;
    transition: 0.1s;
    cursor: pointer;
}

.footer
{
    background-color: #F2F2F2;
    height: 200px;
}

.usefull-links
{
    display: flex;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 30px;
}

.usefull-links-child
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 300px;
}

.usefull-links-child a
{
    margin-bottom: 10px;
    color: black;
}

/* RESPONSIVE */

@media screen and (min-width: 280px) and (max-width: 767px)
{
    .main
    {
        padding: 0px 0px 0px 0px;
    }
    .header
    {

        padding: 0px 0px 0px 0px;
        display: block;
    }

    nav
    {
        padding: 0px 0px 0px 0px;
        flex-flow: row wrap-reverse;
    }

    .navigation
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navigation a
    {
        text-align: center;
        width: 50%;
    }

    .sign
    {
        margin-top: -33px;
        margin-left: 66%;
    }

    a.select
    {
        border-top: none;
        border-bottom: #2978fd 3px solid;
        padding-bottom: 10px;
    }

    nav a:hover
    {
        border-top: none;
        border-bottom: #2978fd 3px solid;
        transition: 0.1s;
        color: #2978fd;
    }

    .line-bottom-resp
    {
        border-bottom: #F2F2F2 solid 3px;
    }

    .logo
    {
        margin-left: 5%;
    }

    .title
    {
        margin-left: 5%;
    }

    .search-bar
    {
        margin-left: 7%;
        width: 80%;
    }

    .search-bar button
    {
        width: auto;
        border-radius: 15px 15px 15px 15px;
        margin-left: 0;
    }

    .search-bar input
    {
        width: 80%;
        margin-right: 0;
        height: 30px;
    }

    .search-bar form
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .search-bar button span
    {
        display: none;
    }

    .search-bar button i
    {
        display: contents;
    }

    .filters
    {
        margin-left: 5%;
        flex-direction: column;
    }

    .filters ul
    {
        padding-left: 0;
        width: 80%;
        flex-wrap: wrap;
    }

    .filters ul li
    {
        margin-bottom: 10px;
    }

    .host-num
    {
        margin-left: 5%;
    }

    .host
    {
        flex-direction: column-reverse;
    }

    .host-main
    {
        border-radius: 0;
        background-color: white;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .host-main h3
    {
        padding-left: 5%;
    }

    .hosts-list-main
    {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .hosts-list-main article
    {
        width: 85%;
        margin-right: 0;
    }

    .host-list-popular
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pop-host-title
    {
        padding-right: 5%;
        padding-left: 5%;
    }

    .host-list-popular-child
    {
        width: 85%;
    }

    .popular-host
    {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        border-radius: 0;
    }

    .host-thumbnail
    {
        width: 100%;
    }

    .activities
    {
        width: 100%;
    }

    .activities h3
    {
        padding-left: 5%;
    }

    .activity-list
    {
        flex-direction: column;
        align-items: center;
    }

    .activity-list article
    {
        margin: 0px 0px 20px 0px;
        width: 80%;
        height: 215px;
    }

    .split-act
    {
        width: 100%;
        align-items: center;
    }

    .activity-list article img
    {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .footer
    {
        width: 100%;
        height: 500px;

    }

    .usefull-links
    {
        margin-left: 5%;
        flex-direction: column;
    }

    .usefull-links-child
    {
        width: 100%;
    }

    .margin-5
    {
        margin-left: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .filters
    {
        width: 80%;
    }

    .filters ul
    {
        flex-wrap: wrap;
    }

    .filters ul li
    {
        margin-bottom: 10px;
    }

    .host
    {
        width: 100%;
        flex-direction: column-reverse;
    }

    .host-main
    {
        margin-top: 20px;
        width: auto;
    }

    .hosts-list-main
    {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .activity-list
    {
        margin-left: 5%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .split-act
    {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .normal-act
    {
        width: 40%;
        height: 220px;
        margin-bottom: 5%;
    }

    .big-act
    {
        width: 85%;
        height: 220px;
        margin-bottom: 5%;
    }

    .activity-list article img
    {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .usefull-links
    {
        width: 90%;
        flex-wrap: wrap;
    }

    .footer
    {
        height: 500px;
        width: 100%;
    }
}
